= form_with(model: @<%= singular_table_name %>, local: true) do |f|
  = errors_for(@<%= singular_table_name %>)

<% attributes.each do |attribute| -%>
<%- if attribute.field_type == :check_box %>
  .mb-4.flex.items-start
    .flex.items-center.h5
      = f.<%= attribute.field_type %> :<%= attribute.name %>, class: 'focus:ring-2 focus:ring-indigo-500:focus ring-offset-2 h-4 w-4 text-indigo-600 border-gray-300 rounded'
    .ml-3.text-sm
      = f.label :<%= attribute.name %>, class: 'text-sm font-medium text-gray-600'
<%- else -%>
  .mb-4
    = f.label :<%= attribute.name %>, class: 'text-sm font-medium text-gray-600'
    = f.<%= attribute.field_type %> :<%= attribute.name %>, class: 'shadow appearance-none border border-gray-300 rounded w-full py-2 px-3 bg-white focus:outline-none focus:ring-0 focus:border-blue-500 text-gray-400 leading-6 transition-colors duration-200 ease-in-out'
<%- end -%>
<%- end -%>
  = f.submit class: 'my-2 bg-blue-500 hover:bg-blue-700 text-white font-bold text-sm py-2 px-4 rounded w-full'
